body {
    background-image: url('../images/circuit-board.jpg');
    /* background-size: cover; */
    padding-top: 50px;
}

.card-block {
    padding: 10px;
}

#sticky-col {
    position: fixed;
    width: 20%;
}