body {
	background-image: url('../images/spiration dark.png');
}

details {
	padding: 10px;
}


.card-block {
	padding: 10px;
}

.profile-text {
	float: left;
}

#profile-img {
	margin: 2%;
	float: right;
}