body {
	background-image: url('../images/background.png');
}

input {
	width: 80%;
}

form {
	padding: 10px;
}

#message-field {
	height: 200px
}

#main-column {
	background: white;
	margin-top: 10px;
}

details {
	padding: 10px;
}